body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Cor de fundo padrão */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garante que a imagem de fundo fique atrás de todos os outros elementos */
}

.container {
    display: flex;
    flex-direction: column; /* Altera a direção do layout para coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
    padding: 20px;
    position: relative; /* Adiciona posição relativa para poder posicionar a imagem do usuário */
}

.user-section {
    position: absolute; /* Torna a posição absoluta em relação ao container */
    top: 20px; /* Alinha com um pequeno espaço superior */
    left: 20px; /* Alinha com um pequeno espaço à esquerda */
}

.user-section img {
    width: 50px; /* Defina o tamanho desejado para a imagem */
    height: 50px; /* Defina o tamanho desejado para a imagem */
    border-radius: 50%; /* Transforma a imagem em um círculo */
    object-fit: cover; /* Garante que a imagem cubra o círculo completamente */
}

.content {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 600px; /* Define uma largura máxima para evitar que o conteúdo se estique muito */
}
.best-songs-section {
    margin-top: 75px; /* Adiciona espaço superior */
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo das seções */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.best-songs-section,
.playlist-section {
    margin-bottom: 25px; /* Adiciona espaço entre as seções */
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo das seções */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#best-songs-list {
    margin-top: 20px; /* Adiciona espaçamento superior */
}


h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo para o título da página */
.page-title {
    text-align: center; /* Centraliza o texto */
    margin-top: 50px; /* Espaçamento superior */
    transition: color 0.5s; /* Efeito de transição de cor */
}

/* Efeito de troca de cores para o título da página */
.page-title:hover {
    color: #04010a; /* Cor ao passar o mouse */
}
.band-box {
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o conteúdo */
    background-position: center; /* Centraliza a imagem */
}

.band-box a {
    text-decoration: none;
    color: inherit; /* Mantém a cor do texto padrão */
}


.band-boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.band-box {
    width: 150px; /* Largura das caixas */
    height: 150px; /* Altura das caixas */
    border-radius: 50%; /* Torna as caixas de playlist redondas */
    overflow: hidden; /* Evita que o conteúdo ultrapasse as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px; /* Espaçamento entre as caixas */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    display: flex; /* Para centralizar verticalmente */
    justify-content: center; /* Para centralizar verticalmente */
    align-items: center; /* Para centralizar verticalmente */
}

.band-box:hover {
    opacity: 0.9;
}

.band-box h3 {
    margin: 0;
}

.band-box:nth-child(1) {
    background-image: url('./img/thebeatles.jpg'); /* Substitua 'imagem1.jpg' pelo caminho real da imagem para The Beatles */
}

.band-box:nth-child(2) {
    background-image: url('./img/ledzeppelin.jpg'); /* Substitua 'imagem2.jpg' pelo caminho real da imagem para Led Zeppelin */
}

.band-box:nth-child(3) {
    background-image: url('./img/Queen.jpg'); /* Substitua 'imagem3.jpg' pelo caminho real da imagem para Queen */
}
.band-box:nth-child(4) {
    background-image: url('./img/Guns\ N\'\ Roses\ Logo.jpg'); /* Substitua 'imagem3.jpg' pelo caminho real da imagem para Queen */
}
.band-box:nth-child(5) {
    background-image: url('./img/ACDC\ \(1\).jpg'); /* Substitua 'imagem3.jpg' pelo caminho real da imagem para Queen */
}
.band-box:nth-child(6) {
    background-image: url('./img/Rolling\ Stones\ Tour\ 1978\ Patch\ 11-inch\ Over-Sized\ Large\ Patches\ Memorabilia\ Logo\ \ _\ eBay.jpg'); /* Substitua 'imagem3.jpg' pelo caminho real da imagem para Queen */
}
.band-box:nth-child(7) {
    background-image: url('./img/Metallica.jpg'); /* Substitua 'imagem3.jpg' pelo caminho real da imagem para Queen */
}
.band-box:nth-child(8) {
    background-image: url('./img/BLACK\ SABBATH.jpg');
}


/* Adicione estilos para as outras bandas da mesma maneira */
/* estilo playlist*/
.playlist-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.playlist-box {
    width: 100px; /* Largura das caixas de playlist */
    height: 100px; /* Altura das caixas de playlist */
    border-radius: 50%; /* Torna as caixas de playlist redondas */
    overflow: hidden; /* Evita que o conteúdo ultrapasse as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-size: cover; /* Garante que a imagem de fundo cubra a caixa */
    background-position: center; /* Centraliza a imagem de fundo na caixa */
}

.playlist-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.playlist-name {
    margin: 10px 0;
    padding: 10px;
    background-image:url(''); /* Cor de fundo do título da playlist */
    color: #f8f2f7; /* Cor do texto do título da playlist */
    text-align: center;
    border-top-left-radius: 50%; /* Borda superior esquerda arredondada */
    border-top-right-radius: 50%; /* Borda superior direita arredondada */
}

.music-box {
    padding: 10px;
    text-align: center;
   ; /* Cor de fundo da caixa de música */
    color: #000000; /* Cor do texto */
}
.playlist-box {
    width: 100px; /* Largura das caixas de playlist */
    height: 100px; /* Altura das caixas de playlist */
    border-radius: 50%; /* Torna as caixas de playlist redondas */
    overflow: hidden; /* Evita que o conteúdo ultrapasse as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-size: cover; /* Garante que a imagem de fundo cubra a caixa */
    background-position: center; /* Centraliza a imagem de fundo na caixa */
}

.playlist-box:nth-child(1) {
    background-image: url('./img/Andean_Moura\(IA\).jfif'); /* Adicione o caminho da sua primeira imagem */
}

.playlist-box:nth-child(2) {
    background-image: url('./img/pexels-pixel-krd-10352379\ \(1\).jpg'); /* Adicione o caminho da sua segunda imagem */
}

.playlist-box:nth-child(3) {
    background-image: url('./img/pexels-pixel-krd-10352379\ \(1\).jpg'); /* Adicione o caminho da sua terceira imagem */
}
.new-singles-section {
    background-color: #3b0caa; /* Cor dark roxa */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
    color: #ffffff; /* Cor do texto */
}

.new-singles-section h2 {
    margin-top: 0; /* Remove o espaçamento superior do título */
}
/*artistas*/
.artist-box {
    width: 100px; /* Largura das caixas de artistas */
    height: 100px; /* Altura das caixas de artistas */
    border-radius: 10px; /* Borda arredondada */
    overflow: hidden; /* Evita que o conteúdo ultrapasse as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-size: cover; /* Cobrir toda a área com a imagem */
    background-position: center; /* Centralizar a imagem */
}

.artist-box:nth-child(1) {
    background-image: url('./caminho/para/sua/imagem1.jpg'); /* Substitua pelo caminho da imagem do Artista 1 */
}

.artist-box:nth-child(2) {
    background-image: url('./caminho/para/sua/imagem2.jpg'); /* Substitua pelo caminho da imagem do Artista 2 */
}

.artist-box:nth-child(3) {
    background-image: url('./caminho/para/sua/imagem3.jpg'); /* Substitua pelo caminho da imagem do Artista 3 */
}
.most-played-section {
    background-color: #330066; /* Cor de fundo dark roxo */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    margin-top: 20px;
}

.artist-boxes {
    display: flex;
    justify-content: space-between;
}

.artist-box {
    width: 100px; /* Largura das caixas de playlist */
    height: 100px; /* Altura das caixas de playlist */
    border-radius: 50%; /* Torna as caixas de playlist redondas */
    overflow: hidden; /* Evita que o conteúdo ultrapasse as bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-size: cover; /* Garante que a imagem de fundo cubra a caixa */
    background-position: center;
}

.artist-box img {
    width: 100px; /* Define a largura das imagens dos artistas */
    height: 100px; /* Define a altura das imagens dos artistas */
    border-radius: 50%; /* Torna as imagens dos artistas redondas */
    object-fit: cover; /* Ajusta o dimensionamento da imagem */
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre a imagem e o título */
}

.artist-box h3 {
    margin: 0; /* Remove margem do título */
}
h2 a {
    display: block;
    text-align: center; /* Centraliza o texto */
    color: #000000; /* Cor preta */
    text-decoration: none; /* Remove sublinhado */
}