body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('./img/max-kleinen-Rr1uLDXzCYg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.content {
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.music-list {
    list-style: none;
    padding: 0;
}

.music-list li {
    margin-bottom: 10px;
}

/* Media query para dispositivos com largura máxima de 768px (tablets e dispositivos móveis) */
@media only screen and (max-width: 768px) {
    .background-image {
        background-size: contain; /* Altera o tamanho da imagem de fundo para "contain" para garantir que ela caiba na tela */
    }

    .content {
        padding: 20px; /* Adiciona um preenchimento interno ao conteúdo */
    }

    .music-list li {
        font-size: 18px; /* Reduz o tamanho da fonte para a lista de músicas */
    }
}

.sabbath{
    width: 250px;
    margin-top: 20px;
}